.header{
    margin-top: 10px;
}
.group{
    position: relative;
    border: 1px solid transparent;
    display: inline-block;
    padding: 0;
}
.group-header{
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent url("../images/group-header.png") no-repeat top;
    background-size: initial;
}
.group-header .order{
    color: yellow;
    font-size: 0.8em;
    padding: 0px 5px;
}
.group-picture{
    text-align: left;
}
.group-picture img{
    width: 100%;
    height: 100%;
}
.group-info{
    padding-top: 3%;;
}
.uni-name, .group-name, .fav-count{
    font-weight: bolder;
}
.uni-name{
    font-size: 1.2em;
}
.group-name, .fav-count{
    font-size: 1.5em;
}
.description{
    word-break: break-all;
}
.show-user-icon{
    background-color: rgba(230,230,230,.8);
}
.user-icon{
    display: inline-block;
    /*background: transparent url("../images/user-icon-bg.png") no-repeat top;*/
    /*background-size: cover;*/
    border: 1px solid #777;
}
.show-sponsor{
    text-align: center;
    margin: 20px 0;
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.main, .great, .rank-list{
    position: absolute;
    bottom: 0px;
    vertical-align: bottom;
}
.main{
    width: 25%;
    left: 0%;
}
.great{
    width: 50%;
    left: 25%;
}
.rank-list{
    width: 25%;
    left: 75%;
}