html{
    overflow-x: hidden ;
}
body{
    overflow:hidden;
    background-color: white;
}
.tips{
    position: fixed;
    bottom: 30%;
    left: 25%;
    height: 8%;
    width: 50%;
    background-color: rgba(230,230,230,.5);
    text-align: center;
    border-radius: 10%;
    border: 1px solid #ddd;
    font-family: "微软雅黑";
    line-height: 3;
    display: none;
}
/*-----------------------------------------------------------------
                            导航栏样式
--------------------------------------------------------------------*/

.my-navbar{
    position: relative;
    height: 5%;
    width: 100%;
    margin-bottom: 0px;
}
.home-bar{
    position: relative;
    width: 100%;
    background-color: white;
    height: 100%;
}
.navbar-join{
    width: 35%;
    height: 100%;
    float: left;
    background-image: url("../images/nav-logo-1.png");
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.divider{
    color: #ddd;
    font-size: 1.8em;
    line-height: 40px;
}
.navbar-show-search{
    height: 100%;
    border: 0px;
    position: absolute;
    right: 0px;
    background-color: transparent;
    line-height: 100%;
    color: #00aeef;
    font-size: 1.5em;
}

.search-bar{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    min-height: 44px;
}
.search-content{
    padding: 5px;
    margin: 2% 1%;
    float: left;
    width: 75%;
    height: 70%;
    border-radius: 10px;
    background: transparent;
}
.search-bar-btn{
    height: 100%;
    width: 11%;
    line-height: 100%;
    font-size: 1.3em;
    border: 0px;
    float: right;
    color: #00aeef;
    background: transparent;
}
/*-----------------------------------------------------------------
                                轮播样式
--------------------------------------------------------------------*/

.owl-theme{
    position: relative;
    height: 20%;
    margin-bottom: 5%;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 2px;
}

.owl-theme .owl-dots {
    height: 10%;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 100%;
    width: 10%;
    text-align: center;

}

.owl-theme .owl-dots .owl-dot span {
    width: 25%;
    height: 70%;
    margin-left: 30%;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 1200px;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}
.owl-theme .owl-stage-outer{
    height: 90%;
    width: 100%;
}
.owl-theme .owl-stage{
    height: 100%;
}
.owl-theme .owl-item{
    height: 100%;
}
.c1{
    background-image: url("../images/1.jpg");
}
.c2{
    background-image: url("../images/2.jpg");
}
.c3{
    background-image: url("../images/3.jpg");
}
.c1, .c2, .c3{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

/*-----------------------------------------------------------------
                            展示部分
--------------------------------------------------------------------*/
.exhibition{
    position: relative;
    width: 100%;
    height: 70%;
}
/*-----------------------------------
            中部标签（tab）样式
--------------------------------------*/
.exhibition .nav-tabs{
    width: 100%;
}
.main-tab, .uni-rank-tab, .sum-rank-tab{
    width: 33.3%;
    height: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    font-family: 微软雅黑;
    color: black;

}
.nav>li>a{
    padding: 5%;
}
.tab-logo{
    width: 20%;
    height: 20%;
}
/*-----------------------------------
             主会场内容样式
--------------------------------------*/


/*
    主会场内容组件club样式
*/
.tab-content{
    position: relative;
    height: 92%;
}


#main-content, #uni-rank-content, #sum-rank-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.scroller{
    position: absolute;
    width: 100%;
}
.pullDown, .pullUp{
    height: 200px;
    width: 100%;
    left: -5px;
    background: #eee;
    text-align: center;
}
.pullDown{
    position: absolute;
    top:-208px;
}
.pullUp{
    position: absolute;
    bottom: -208px;
}

.pullDownLabel, .pullUpLabel{
    font-size: 1.3em;
    font-weight: 500;
    color: black;
    font-family: 微软雅黑;
}
.pullDownLabel{
    line-height: 320px;
}
.pullUpLabel{
    line-height: 50px;
}

/*
    club style
*/
.club{
    box-sizing: content-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}
.club-header, .club-info{
    height: inherit;
    align-items: center;
    overflow: hidden;
}
.club-header{
    margin: 10px 0 10px 16px;
    width: 45%;
    height: 75px;
    display: inline-flex;
    border: 1px solid #cccccc;
    border-radius: .5em;
}
.club-info{
    margin-left: 5%;
    width: 45%;
    text-align: left;
    font-family:黑体;
    color: #aaa;
    font-size: 12px;
}
.club .club-name{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: .1em;
}
.club .club-from{
    font-size: 1.2em;
    margin-bottom: .2em;
    font-weight: 500;
}
.club .club-fav-count span:first-child{
    color: rgb(255,55,80);
    margin-right: 5px;
    font-weight: bolder;
    font-size: 1.3em;
}
.club .club-fav-count .num{
    font-family:黑体;
    font-size: 1.3em;
    font-weight: 900;
}

.club .club-id{
    height: 100%;
    background-color: #5bc0de;
    width: 20%;
}
.club .club-id>p{
    line-height: 5;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.club .club-pic{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
}
/*-----------------------------------
             result-content
--------------------------------------*/
#result-content{
    display: none;
    padding: 8px 15px 0px 15px;
    width: 100%;
    height: 94%;
    background-color: white;
    position: absolute;
    z-index: 100;
    border-top:1px solid #ddd;
    overflow: hidden;
}
/*
        uni-rank-content
*/

.uni-rank-table{
    font-family: 微软雅黑;
}
.uni-rank-table-header, .sum-rank-table-row{
    margin-top: 3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.uni-icon{
    background-image: url('../images/uni_icon.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 2.5em;
    width: 2.5em;
    border-radius: 2em;
}
.uni-name{
    margin-left: .4em;
    color: #6C0022;
    font-size: 1.3em;
    font-weight: bolder;
}
.line-1{
    height: 1px;
    background-color: #ddd;
    margin:2px 0px 10px 2.5em;
}
.line-2{
    height: 1px;
    background-color: #ddd;
    margin: 4px 0px 20px -15px;
}
.uni-rank-table-row{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    color: black;
    width: 100%;
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
.uni-rank-table .club-rank{
    width: 20%;
    color: rgb(255,55,80);
}
.uni-rank-table .club-id, .sum-rank-table .club-id{
    display: none;
}
.uni-rank-table .club-name, .sum-rank-table .club-name{
    width: 30%;
    margin-right: 10%;
    font-weight: 800;
    color: black;
}
.uni-rank-table .club-fav-count{
    width: 40%;
}
.uni-rank-table .club-fav-count .glyphicon-heart,
.sum-rank-table .club-fav-count .glyphicon-heart{
    font-size: 1.3em;
    color: rgb(255,55,80);
    margin-top: .2em;
}
.uni-rank-table .club-fav-count .num{
    margin-left: 5px;
}
/*
    sum-rank-content
*/
.sum-rank-table-row{
    margin: 3% 5%;
}
.sum-rank-table .club-name{
    text-align: center;
}
.sum-rank-table .club-fav-count{
    width: 30%;
}
.sum-rank-table .club-fav-count .num{
    margin-left: .2em;
    font-weight: 700;
    font-size: 1.2em;
}
.sum-rank-table .club-rank{
    text-align: center;
    margin: 0 0 0 0;
    width: 20%;
    color: #00aeef;
    font-weight: bolder;
    font-size: 2em;
    font-family: "微软雅黑 Light";
}
/*
    loading animation
*/
.loader{
    width: 100%;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    top:0px;
    display: none;
    align-items: center;
    justify-content: center;

}
@keyframes loading {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.4);
    }
    100%{
        transform: scaleY(1);
    }
}

.loader .loading i{
    display: inline-block;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin:0 2px;
    background-color: #333;
}
.loader .loading i:nth-child(1){
    animation: loading 1s ease-in 0.1s infinite;
}
.loader .loading i:nth-child(2){
    animation: loading 1s ease-in 0.2s infinite;
}
.loader .loading i:nth-child(3){
    animation: loading 1s ease-in 0.3s infinite;
}
.loader .loading i:nth-child(4){
    animation: loading 1s ease-in 0.4s infinite;
}
.loader .loading i:nth-child(5){
    animation: loading 1s ease-in 0.5s infinite;
}